/*
--------------------------------------------------------------------------------

  Based on the YUI framework & Matt Brown's template: sampleresumetemplate.net
  Complete CSS overhaul & much design fine-tuning by Nate Tarrh: natetarrh.com 

--------------------------------------------------------------------------------
*/

body, div, ul, li, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

body {
    font: 13px/1.231 serif;
    font-family: Georgia;
    font-weight: normal;
    color: #444;
    text-align: center;
}

/* document formatting */
#doc {
    margin: auto;
    text-align: left;
    width: 950px;
}

#inner {
    background: #f5f5f5;
    border: solid #666;
    border-width: 8px 0 2px 0;
    margin: 80px auto;
    padding: 10px 80px;
}

#header {
    margin: 2.5em 0 2em 0;
    padding-bottom: 1.5em;
    border-bottom: 1px solid #ccc;
}

#main, #footer {
    margin-bottom: 2em;
}

#footer { 
    padding: 2em 0 1em 0;
    font-size: 92%; 
    border-top: 1px solid #ccc; 
    text-align: center; 
}

/* text formatting */
#header h1 {
    font-size: 48px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

#header h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
}

h2 {
    font-size: 152%;
}

.title h2 {
    font-style: italic;
}

h3, h4 {
    font-size: 122%;
}

h1, h2, h3, h4 {
    color: #333;
    font-weight: normal;
}

p {
    font-size: 100%;
    line-height: 18px;
    padding-right: 3em;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    line-height: 24px;
    border-bottom: 1px solid #ccc;
}

/* content formatting */
.section {
    float: left;
    margin-bottom: 2em;
    padding-bottom: 2em;
    border-bottom: 1px solid #ccc;
}

.content.title {
    float: left;
    width: 12.3%;
}

.content {
    float: right;
    width: 80.2%;
}

.last {
    border: none !important;
    float: none !important; 
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}

#me .content.title {
    width: 80%;
    text-align: left;
}

#me .content {
    width: 20%;
    text-align: right;
}

.contact-info { 
    margin-top: 7px;
}

#pdf { 
    display: block; 
    float: right;
    background: #666; 
    color: white; 
    padding: 6px 12px 6px 12px; 
    margin-top: 6px; 
    text-decoration: none; 
}

.ed {
    position: relative;
}

.ed h4 {
    position: absolute;
    top: 0.35em;
    right: 0;
    text-align: right;
}

.ed p {
    margin: 0.75em 0 0 0;
}

.job { 
    position: relative; 
    margin-bottom: 1em; 
    padding-bottom: 2em; 
    border-bottom: 1px solid #ccc; 
}

.job h4 {
    position: absolute; 
    top: 0.35em; 
    right: 0; 
}

.job p {
    margin: 0.75em 0 0 0; 
}

.talent { 
    width: 32%;
    float: left;
    list-style: none;
}

.talent h2 {
    margin-bottom: 6px;
}

/* @group Clearing – taken from YUI grids.css */
#header:after, #body:after, #footer:after, #me:after, .last:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

