/*
--------------------------------------------------------------------------------

  Based on the YUI framework & Matt Brown's template: sampleresumetemplate.net
  Complete CSS overhaul & much design fine-tuning by Nate Tarrh: natetarrh.com 

--------------------------------------------------------------------------------
*/

body, div, ul, li, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

body {
    font: 13px/1.231 serif;
    font-family: Georgia;
    font-weight: normal;
    color: #444;
    text-align: center;
}

/* document formatting */
#doc {
    margin: auto;
    text-align: left;
    width: 790px;
}

#inner {
    margin: 0px;
    padding: 0px;
}

#header {
    margin: 0em 0 1em 0;
    padding-bottom: 1em;
    border-bottom: 1px solid #ccc;
}

#main, #footer {
    margin-bottom: 2em;
}

#footer { 
    padding: 2em 0 1em 0;
    font-size: 92%; 
    border-top: 1px solid #ccc; 
    text-align: center; 
}

/* text formatting */
#header h1 {
    font-size: 48px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

#header h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
}

h2 {
    font-size: 152%;
}

.title h2 {
    font-style: italic;
}

h3, h4 {
    font-size: 122%;
}

h1, h2, h3, h4 {
    color: #333;
    font-weight: normal;
}

p {
    font-size: 105%;
    line-height: 18px;
    padding-right: 4em;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    line-height: 24px;
    border-bottom: 1px solid #ccc;
    font-size: 105%;
}

/* content formatting */
.section {
    float: left;
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid #ccc;
}

.content.title {
    float: left;
    width: 12.3%;
}

.content {
    float: right;
    width: 80.2%;
}

.last {
    border: none !important;
    float: none !important; 
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}

#me .content.title {
    width: 78%;
    text-align: left;
}

#me .content {
    width: 22%;
    text-align: right;
}

.contact-info { 
    margin-top: 7px;
}

#pdf { 
    display: block; 
    float: right;
    background: #666; 
    color: white; 
    padding: 6px 12px 6px 12px; 
    margin-top: 6px; 
    text-decoration: none; 
}

.ed {
    position: relative;
}

.ed h4 {
    position: absolute;
    top: 0.35em;
    right: 0;
    text-align: right;
}

.ed p {
    margin: 0.75em 0 0 0;
}

.job { 
    position: relative; 
    margin-bottom: 1em; 
    padding-bottom: 1em; 
    border-bottom: 1px solid #ccc; 
}

.job h4 {
    position: absolute; 
    top: 3px; 
    right: 0;
    text-align: right; 
}

.job p {
    margin: 0.75em 0 0 0; 
}

.talent { 
    width: 32%;
    float: left;
    list-style: none;
}

.talent h2 {
    margin-bottom: 6px;
}

#mobile {
    display: none;
}

/* @group Clearing – taken from YUI grids.css */
#header:after, #body:after, #footer:after, #me:after, .last:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

@media only screen and (max-device-width: 480px) { 
    #desktop { display: none; }
    #mobile { display: block !important; }
    body { -webkit-text-size-adjust:100%; background: #f5f5f5; } 
    #doc { width: 100%; }
    #inner { margin: 0px auto; border: none; }
    #header h1 { font-size: 96px; }
    #header h2 { font-size: 42px; }
    #me .content.title, #me .content, #pdf { float: center; text-align: center; width: 100%; }
    #pdf { display: none; }
    .contact-info { font-size: 24px; display: none; }
    .content.title, .content { float: center; width: 100%; }
    h2 { font-size: 42px; }
    h3 { font-size: 36px; }
    h4 { font-size: 36px; position: static !important; text-align: left; float: right; }
    h3, h4 { display: inline; }
    .ed h4 { position: absolute !important; top: 0px; right: 0px; line-height: 46px; }
    p { font-size: 28px; line-height: 32px; padding-right: 0; }
    .talent { font-size: 28px; }
    li { line-height: 48px; }
    .content.title h2 { font-size: 48px; }
}
